@page "/counter"
@rendermode InteractiveServer

<PageTitle>Contagem</PageTitle>

<h1>Contagem</h1>

<p role="status">Contagem atual: @currentCount</p>

<Button Text="Clique em mim" OnClick="AumentarContagem"></Button>

@code {
    private int currentCount = 0;

    private void AumentarContagem()
    {
        currentCount++;
    }
}
