@page "/"

<PageTitle>Agendamentos</PageTitle>

<div class="content">
	<div class="schedule">
		<div class="title">
			<h1 class="title_lg">Agende um atendimento</h1>
			<p class="text_sm">Selecione data, horário e informe o nome do cliente para criar o agendamento.</p>
		</div>

		<div class="form">
			<Button Text="Agendar"></Button>
			<TextInput Placeholder="Nome do Cliente"></TextInput>
		</div>
	</div>
</div>