@page "/"

<PageTitle>Agendamentos</PageTitle>

<h1>Sistema de Agendamentos</h1>

<p>Bem vindo ao nosso sistema de agendamentos. Aqui você poderá agendar os horários para seus clientes, gerenciar seus serviços e funcionários. Além de ter uma facilidade na transferência de informações entre pessoas.</p>

<Button Text="Agendar"></Button>